# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/myTimerProject/FileContentIndex/407d0148-f268-4a0b-a0fd-eedf309548bd.vsidx
/.vs/myTimerProject/FileContentIndex/292b7a3a-8fc6-4179-a6ff-49de9ba03f49.vsidx
/src/assets/react.svg
/vite.config.js
/.vs/myTimerProject/FileContentIndex/5213d9e3-9caf-464e-be0e-92883307c479.vsidx
/mytimerproject.esproj.user
/mytimerproject.esproj
/.vs/myTimerProject/FileContentIndex/e45fc3ab-8146-436c-becb-1df6b0c5e1c0.vsidx
/.vs/myTimerProject/FileContentIndex
